<!DOCTYPE html>
<html lang="ro">
<%- include("../fragmente/head") %>
<body>
    <%- include("../fragmente/header") %>

    <section class="highlights">
        <h1>Galerie Foto (<%= anotimpCurent %>)</h1>
        <%- include("../fragmente/galerie", { imagini: imagini, caleBase: caleBase }) %>
    </section>

    <section>
        
    </section>
        
   

    <%- include("../fragmente/footer") %>
</body>
</html>