<!DOCTYPE html>
<html>
<%- include("../fragmente/head") %>
<body>
    <%- include("../fragmente/header") %>
    
    <main class="produs-container">
        <h1><%= produs.nume %></h1>
        <div class="produs-detalii">
            <img src="/resurse/imagini/<%= produs.imagine %>" alt="<%= produs.nume %>">
            <div class="informatii">
                <p class="pret">Preț: <strong><%= produs.pret %> EUR</strong></p>
                <p>Kilometraj: <%= produs.kilometraj %> km</p>
                <p>Categorie: <%= produs.categorie_mare %></p>
                <p>Motor: <%= produs.categorie_secundara %></p>
                <p>Culoare: <%= produs.culoare %></p>
                <p>Dotări: <%= produs.dotari %></p>
                <p>Garantie extensibilă: <%= produs.garantie_extensibila ? 'Da' : 'Nu' %></p>
                <p>Adăugat pe: <%= new Date(produs.data_adaugare).toLocaleDateString() %></p>
            </div>
        </div>
     
    </main>


    <%- include("../fragmente/footer") %>
</body>
</html>